@import "../styles/mixins/respond";
@import "../styles/variables/colors";
@import "../styles/variables/fonts";

.footer {
  position: relative;
  width: 100%;
  // margin-top: 10rem;
  background: #1a1a24;
  z-index: 2;

  &__container {
    display: flex;
    max-width: 120rem;
    width: 100%;
    padding: 0 2rem 0 2rem;
    margin: 0 auto;
    justify-content: space-between;

    @include respond(320) {
      flex-direction: column;
    }
  }

  &__msg,
  &__course,
  &__certificate,
  &__follow,
  &__contact {
    width: 25rem;
    padding: 5rem 0;

    @include respond(320) {
      display: flex;
      flex-direction: column;
    }
  }

  &__msg {
    width: 35rem;

    @include respond(320) {
      width: 100%;
    }
  }

  &__course {
    width: 15rem;

    @include respond(320) {
      width: 100%;
    }
  }

  &__certificate {
    width: 15rem;
    @include respond(320) {
      width: 100%;
    }
  }

  &__follow {
    width: 15rem;

    @include respond(320) {
      width: 100%;
    }
  }

  &__contact {
    // max-width: 15rem;
    // width: 100%;

    @include respond(320) {
      width: 100%;
    }
  }

  &__h1 {
    display: inline-block;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #0896ea;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Fascinate, cursive;
    line-height: 1.1;
    font-weight: 400;
    font-size: 1.7rem;

    @include respond(320) {
      font-size: 3.4rem;
    }
  }

  &__p {
    padding: 2.7rem 2rem 3rem 0rem;

    @include respond(320) {
      padding: 5rem 0;
    }

    color: #e9e9e9;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: justify;
    font-family: Fascinate, cursive;

    @include respond(320) {
      font-size: 3rem;
      font-weight: 400;
    }
  }

  &__list {
    padding-top: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 1rem 0;
  }

  &__link {
    display: inline-block;
    width: 80%;

    color: #e9e9e9;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Fascinate, cursive;
    line-height: 1.1;
    font-weight: 400;
    font-size: 1.2rem;
    transition: all 0.5s;

    &:hover {
      color: #0896ea;
    }

    @include respond(320) {
      font-size: 2.8rem;
    }
  }

  &__h2 {
    margin: 0 auto;
  }

  &__devxad {
    display: flex;
    max-width: 140rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    border-top: 1px solid #adadad;
    color: #0896ea;
    font-size: 0.8rem;
    font-family: $lato-sans-serif;

    @include respond(320) {
      font-size: 1.2rem;
    }
  }
}

.facebook {
  // color: #4267b2 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.twitter {
  color: #19b2e8 !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.instagram {
  // color: #e02b71 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.linkedin {
  // color: #0077b5 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.phone {
  color: #56ad30 !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.viber {
  // color: #6e50d2 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.gmail {
  // color: #d54b3d !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}
