@import "../../styles/variables/fonts.scss";

.text {
  &__p,
  &__home-boxes-text,
  &__about {
    font-family: $lato-sans-serif;
    text-align: center;
    font-size: 2.5rem;
  }

  &__p {
    color: white;
  }

  &__home-boxes-text {
    padding: 1.3rem 0;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__about {
    line-height: 1.4;
    text-align: justify;
    font-size: 2rem;
    margin-top: 2rem;
  }
}
