@import "../../../../styles/variables/fonts";
@import "../../../../styles/variables/colors";
@import "../../../../styles/mixins/respond";

.home-events {
  @include respond(900) {
    flex-direction: column;
  }

  &__calendar {
    width: 39rem;
    height: 57rem;
    margin-top: 10rem;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @include respond(900) {
      width: 100%;
    }
  }

  &__calendar-heading {
    font-family: Poppins, sans-serif;
    font-size: 2.6rem;
    color: #1a1a24;
    font-weight: 600;

    @include respond(900) {
      width: 100%;
      text-align: center;
      font-size: 3.2rem;
    }
  }

  &__content-container {
    position: absolute;
    top: 10rem;
  }

  &__monthly-events {
    position: relative;
    flex-direction: column;
    width: 30rem;
    height: 57rem;
    margin-top: 10rem;

    @include respond(900) {
      width: 100%;
    }
  }

  &__events-for-today {
    flex-direction: column;
    width: 40rem;
    width: 100%;
    height: 57rem;
    margin-top: 10rem;

    @include respond(900) {
      width: 100%;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 8rem;

    text-decoration: none;
    color: white;
    background-color: $main-color;
    font-size: 1.7rem;
    font-family: $lato-sans-serif;
    transition: all 0.5s;

    &:hover {
      background-color: darken($color: $main-color, $amount: 20%);
    }

    @include respond(900) {
      font-size: 2.2rem;
    }
  }
}
