.wrapper-with-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("./images/bckg.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 64rem;
}
