@import "../../styles/variables/fonts";
@import "../../styles/variables/colors";

.default-paragraph {
  font-family: $lato-sans-serif;
  line-height: 1.4;
  text-align: justify;
  font-size: 2rem;
}

.experience-modal-text {
  font-size: 1.7rem;
  text-align: center;
  font-family: $lato-sans-serif;
  font-style: italic;
  color: white;
  max-width: 115rem;
  width: 100%;
}

.experience-modal-name {
  font-size: 1.6rem;
  text-align: center;
  font-family: Lato, sans-serif;
  color: white;
  margin-top: 5rem;
}

// HELPERS

.poppins-sans-serif {
  font-family: $poppins-sans-serif;
}

.text-orange {
  color: $main-color;
}

.reset-padding-left {
  padding: 0 0 0 0.3rem;
}

@import "./responsive.scss";
