@import "../../styles/variables/fonts";
@import "../../styles/variables/colors";
@import "../../styles/mixins/respond";

.default-paragraph {
  font-family: $lato-sans-serif;
  line-height: 1.4;
  text-align: justify;
  font-size: 2rem;

  @include respond(900) {
    font-size: 2.5rem;
  }

  @include respond(600) {
    font-size: 3.2rem;
  }
}

.experience-modal-text {
  font-size: 1.7rem;
  text-align: center;
  font-family: $lato-sans-serif;
  font-style: italic;
  color: white;
  max-width: 115rem;
  width: 100%;
  padding: 1rem 0;

  @include respond(600) {
    font-size: 2.5rem;
  }
}

.experience-modal-name {
  font-size: 1.6rem;
  text-align: center;
  font-family: Lato, sans-serif;
  color: white;
  margin-top: 5rem;
}

// HELPERS

.poppins-sans-serif {
  font-family: $poppins-sans-serif;
}

.text-orange {
  color: $main-color;
}

.reset-padding-left {
  padding: 0 0 0 0.3rem;
}
