@import "../../styles/variables/fonts";
@import "../../styles/variables/colors";

.default-paragraph {
  font-family: $lato-sans-serif;
  line-height: 1.4;
  text-align: justify;
  font-size: 2rem;
  // margin-top: 2rem;
}

.welcome-paragraph,
.home-boxes-paragraph {
  text-align: center;
  font-size: 2rem;
}

.welcome-paragraph {
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
}

.home-boxes-paragraph {
  padding: 1.3rem 0;
  font-weight: 800;
  text-transform: uppercase;
}

.blog-modal-text {
  display: block;
  color: $modal-text-color;
  font-size: 1.7rem;
  margin-top: 0;
  padding: 0 1rem;
  text-align: justify;
}

.blog-modal-span {
  display: inline-block;
  color: $modal-span-color;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: 0 0 0 1rem;
}

.poppins-sans-serif {
  font-family: $poppins-sans-serif;
}

.text-orange {
  color: $main-color;
}

.reset-padding-left {
  padding: 0 0 0 0.3rem;
}

.newsletter-format {
  display: flex;
  flex-direction: column;
  background-color: $main-color;
  color: white;
  padding: 2rem;
}
