@import "../../../../styles/mixins/respond";

.home-blog {
  &__modal-container {
    @include respond(900) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__modal-image {
    @include respond(900) {
      width: 100%;
    }
  }

  &__modal-link {
    @include respond(900) {
      font-size: 3rem;
      margin-top: 3rem;
    }
  }

  &__modal-text {
    @include respond(900) {
      font-size: 2.2rem;
    }
  }

  &__blog-modal-span {
    @include respond(900) {
      font-size: 1.7rem;
    }

    &--text-orange {
      color: $main-color;
    }

    &--popin-sans-serif {
      font-family: $poppins-sans-serif;
    }
  }
}
