@import "../../../../styles/variables/fonts";
@import "../../../../styles/variables/colors";
@import "../../../../styles/mixins/respond";

.home-blog {
  flex-direction: column;

  &__heading-container {
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
  }

  &__modal-container {
    justify-content: space-between;

    @include respond(900) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__modal-image {
    height: 30rem;

    @include respond(900) {
      width: 100%;
    }
  }

  &__modal-link {
    display: block;
    height: 9rem;
    padding: 1.5rem 0;
    margin-top: 0;

    font-size: 2rem;
    color: $heading-link-color;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    font-family: $lato-sans-serif;

    &:hover {
      color: $main-color;
      background-color: transparent;
    }

    @include respond(900) {
      font-size: 3rem;
      margin-top: 3rem;
    }
  }

  &__modal-text-container {
    padding: 0 1rem;
  }

  &__modal-text {
    text-align: justify;
    color: $modal-text-color;
    font-size: 1.7rem;

    @include respond(900) {
      font-size: 2.2rem;
    }
  }

  &__modal-date-container {
    margin-top: 1rem;
    padding: 0 1rem;
  }

  &__blog-modal-span {
    color: $modal-span-color;
    font-size: 1.3rem;
    font-weight: 700;

    @include respond(900) {
      font-size: 1.7rem;
    }

    &--text-orange {
      color: $main-color;
    }

    &--popin-sans-serif {
      font-family: $poppins-sans-serif;
    }
  }

  &__modal-signature-container {
    margin-top: 1rem;
    padding: 0 1rem;
  }
}
