@import "../../styles/variables/fonts.scss";

.heading {
  &__h1,
  &__default-heading {
    font-size: 5rem;
    color: white;
    font-family: $lato-sans-serif;
    text-align: center;
    line-height: 60px;
    // padding-bottom: 3rem;
  }

  &__default-heading {
    font-size: 4rem;
    color: #1a1a24;
  }
}
