@import "../../styles/variables/colors";

.content-container {
  display: flex;
  width: 100%;
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.height-40rem {
  height: 40rem;
}

.text-side-width-51-percent {
  width: 51%;
}

.background-color-main {
  background-color: $main-color;
  width: 95%;
  height: 90%;
}
