@import "../../styles/variables/fonts.scss";

.default-heading {
  font-size: 5rem;
  color: white;
  font-family: $lato-sans-serif;
  text-align: center;
  line-height: 60px;
}

.default-heading {
  font-size: 3.7rem;
  color: #1a1a24;
}

.h2 {
  font-family: Poppins, sans-serif;
  font-size: 2.6rem;
  color: #1a1a24;
  font-weight: 600;
}

.experience-heading {
  color: white;
  font-size: 3.5rem;
  font-family: $lato-sans-serif;
  font-weight: 800;
}

.footer-heading {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 400;
  font-family: Fascinate, cursive;
  font-size: 1.7rem;
}
