@import "../../styles/variables/colors";
@import "../../styles/variables/fonts";

.course {
  flex-direction: column;

  &__top-container {
    background-image: url(./images/background.jpg);
    position: relative;
    justify-content: flex-end;
  }

  &__right-content {
    width: 55%;
    height: 100%;
    background-color: white;
    padding: 10rem 0 10rem 27rem;
  }

  &__heading {
    position: absolute;
    padding: 1.5rem 2.5rem;
    clip-path: polygon(6% 0, 100% 0, 94% 100%, 0 100%);
    left: 43%;
    top: 50%;
    transform: translate(-43%, -50%);
    background-color: $main-color;

    font-size: 3rem;
    font-family: $poppins-sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

  &__text-container {
    flex-direction: column;
    justify-content: center;
    width: 62rem;
  }

  &__text {
    font-size: 1.8rem;
    font-family: Poppins, sans-serif;
    color: #000;
    text-align: justify;
    padding-bottom: 2rem;
  }

  &__text-span {
    color: $main-color;
    font-weight: 600;
  }

  &__bottom-container {
    background-image: url(./images/background2.jpg);
    height: 80vh;
  }

  &__left-content {
    flex-direction: column;
    width: 45%;
    height: 100%;
    background-color: white;
    padding: 0 7rem;
  }

  &__diagram {
    background-color: white;
    width: 10%;
    transition: 0.5s all;
    background: linear-gradient(180deg, #ee9a20, #6d4408);
  }

  &__diagram-nav-container {
    justify-content: space-between;
    margin-top: 5rem;
  }

  &__diagram-nav-icon-container {
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    padding: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
      background: darken($main-color, 20%);
    }
  }

  &__diagram-nav-icon {
    font-size: 2rem;
    // padding: 1.2rem;
    // height: 3rem;
    // width: 3rem;
    // cursor: pointer;
    // // webkit-font-smoothing: antialiased;
    // font-style: normal;
    // font-variant: normal;
    // text-rendering: auto;
    // // line-height: 1;
    // font-size: 2rem;
  }
}
