@import "../../styles/variables/colors";
@import "../../styles/variables/fonts";

.course {
  flex-direction: column;

  &__top-container {
    justify-content: flex-end;
    height: 100vh;
  }

  &__right-content {
    width: 55%;
    height: 100%;
    background-color: white;
  }

  &__heading {
    padding: 1.5rem 2.5rem;
    clip-path: polygon(6% 0, 100% 0, 94% 100%, 0 100%);
    width: 40rem;
    margin-left: -20rem;

    font-size: 3rem;
    font-family: $poppins-sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
}
