@import "../../styles/variables/colors.scss";
@import "../../styles/variables/fonts.scss";

.navigation {
  display: flex;
  justify-content: flex-end;
  max-width: 66.5rem;
  width: 100%;
  height: 6rem;
  color: white;
  outline: 1px solid red &__list {
    list-style-type: none;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    transition: all 0.5s;

    &:hover {
      background: $main-color;
      color: white;
    }

    // font
    text-decoration: none;
    color: $text-color;
    font-size: 1.6rem;
    font-family: $lato-sans-serif;
    font-weight: 700;
  }
}

.active {
  background: $main-color;
  color: white;
}
