.carousel-root {
  width: inherit !important;
  height: 43px !important;
}

.slide {
  background-color: transparent !important;
  height: 53rem !important;
}

.dot {
  background-color: #ee9a20 !important;
  border: none !important;
}
