@import "../../styles/variables/colors";
@import "../../styles/variables/fonts";
@import "./stylesheets/mixins.scss";
@import "./stylesheets/variables.scss";

.react-datepicker {
  // display: flex;
  // flex-direction: column;
  width: 39rem;

  &__navigation {
    background: none;
    line-height: $datepicker__item-size;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    width: 0;
    padding: 0;
    border: $datepicker__navigation-size solid transparent;
    z-index: 1;
    height: 1rem;
    width: 1rem;
    text-indent: -999em;
    overflow: hidden;

    &--previous {
      left: 10px;
      border-right-color: $datepicker__muted-color;

      &:hover {
        border-right-color: darken($datepicker__muted-color, 10%);
      }

      &--disabled,
      &--disabled:hover {
        border-right-color: $datepicker__navigation-disabled-color;
        cursor: default;
      }
    }

    &--next {
      right: 10px;
      border-left-color: $datepicker__muted-color;
      &--with-time:not(&--with-today-button) {
        right: 95px;
      }

      &:hover {
        border-left-color: darken($datepicker__muted-color, 10%);
      }

      &--disabled,
      &--disabled:hover {
        border-left-color: $datepicker__navigation-disabled-color;
        cursor: default;
      }
    }

    &--years {
      position: relative;
      top: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;

      &-previous {
        top: 4px;
        border-top-color: $datepicker__muted-color;

        &:hover {
          border-top-color: darken($datepicker__muted-color, 10%);
        }
      }

      &-upcoming {
        top: -4px;
        border-bottom-color: $datepicker__muted-color;

        &:hover {
          border-bottom-color: darken($datepicker__muted-color, 10%);
        }
      }
    }
  }

  &__month-container {
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: red;
  }

  &__current-month {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3d47;
    width: 100%;
    height: 4rem;

    color: white;
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
    text-transform: capitalize;
  }

  &__day-names {
    display: flex;
    background-color: #00a2a6;
    width: 100%;
    height: 3rem;

    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: Poppins, sans-serif;
    font-weight: 600;
  }

  &__day-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__month {
    border: 0.5px solid #e9e9e9;
  }

  &__week {
    display: flex;
  }

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 14.28%;
    height: 6.2rem;
    cursor: pointer;

    font-size: 1.4rem;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #d0d0d0;
    transition: 0.5s all;

    &:hover {
      background-color: $main-color;
      color: white;
    }

    &--highlighted {
      border-radius: 20%;
      // background-color: $datepicker__highlighted-color;
      background-color: lighten($color: $main-color, $amount: 20%);
      color: #fff;

      &:hover {
        background-color: darken($datepicker__highlighted-color, 5%);
      }
    }

    &--today {
      border-radius: 20%;
      background-color: $main-color;
      color: white;
    }
  }
}
