@import "../../../../styles/variables/fonts";
@import "../../../../styles/variables/colors";

.home-about {
  &__content {
    justify-content: space-between;
    margin-top: 10rem;
  }

  &__text {
    width: 49%;
    align-items: flex-start;
    flex-direction: column;

    &--container {
      margin-top: 2rem;
    }
  }

  &__heading {
    font-size: 5rem;
    color: white;
    font-family: $lato-sans-serif;
    text-align: center;
    line-height: 60px;
    font-size: 3.7rem;
    color: #1a1a24;
  }

  &__image-container {
    flex-direction: column;
    align-items: flex-start;
    width: 49%;
  }

  &__image {
    display: flex;
    height: 100%;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 8rem;

    text-decoration: none;
    color: white;
    background-color: $main-color;
    font-size: 1.7rem;
    font-family: $lato-sans-serif;
    transition: all 0.5s;

    &:hover {
      background-color: darken($color: $main-color, $amount: 20%);
    }
  }
}

@import "./responsive.scss";
