.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15rem;
}

.wrapper {
  outline: 1px solid red;
}

.text-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 49%;
}

.image-side {
  width: 49%;
}
