.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15rem;
}

.content-container-wrapper {
  display: flex;
  outline: 1px solid red;
}

.text-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 49%;
}

.image-side {
  width: 49%;
}

// halpers
.reset-margin-top {
  margin-top: 0;
}

.set-width-to-50-percent {
  width: 50%;
}
