@import "../../styles/variables/colors";

.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 31rem;

  &__small {
    width: 4rem;
    height: 0.5rem;
    background: $main-color;
  }

  &__large {
    width: 100%;
    height: 1px;
    background: $main-color;
  }
}
